{block #content}

	{assign parent => NULL}
	{block #tree}
		<ul n:ifset="$tree[$parent]">
			{foreach $tree[$parent] as $m}
				<li>
					<a href="{$m['link']}">{$m['link']}</a>
					{include #this parent => $m['id']}
				</li>
			{/foreach}
		</ul>
	{/block}