#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
common:
	php: # PHP configuration
		date.timezone: Europe/Prague
		# session.save_path: "%tempDir%/sessions"
		# zlib.output_compression: yes
		# default_charset: "UTF-8"

	services:
		dibi:
			factory: DibiConnection
			arguments: [%database%]

		connection:
			factory: @dibi

	parameters:
		tempDir: %wwwDir%/../temp
		logDir: %wwwDir%/../log

production < common:
	parameters:
		database:
			driver = mysql
			host = localhost
			database = emailex_27700
			username = emailex_27700
			password = 4aoaFTbd8cvWxp
			charset = utf8
			profiler: false

development < common:
	parameters:
		database:
			driver = mysql
			host = localhost
			database = email_extractor
			username = root
			password = root
			charset = utf8
			profiler: false
console < common:
